{% extends "base.html" %}
{% load static %}

{% block page_heading %}
    <section class="top-container d-flex flex-column justify-content-center align-items-center text-center">
        <div class="container p-4">
            <h1>My Wee Box</h1>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="middle-container">
            <div class="row">
                <div class="col">
                    {% if box_items %}
                        <div>
                            {% for item in box_items %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                <p>Name: {{ item.product.name }}</p>
                                <p>Quantity: {{ item.product.quantity }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>You haven't added any items to your wee box yet!</p>
                        <p>We don't want to send you an empty box, so why not visit our products page to start adding your favourite home treats!</p>
                        <a class="btn" href="{% url 'products' %}">Products</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}