{% extends "base.html" %}
{% load static %}

{% block page_heading %}
    <!-- Image, Heading and Search Bar -->
    <section class="top-container d-flex flex-column align-items-center justify-content-center">
        <div class="container text-center p-4">
            <h1>Reviews</h1>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="middle-container p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if request.user.is_authenticated %}
                        <h2>How would you rate us?</h2>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <p>Review by: {{ user.username }}</p>
                            <p>{{ user.review }}</p>
                        </form>
                    {% else %}
                        <p>You must login to leave a review!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}