{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="yellow-container p-4">
        <div class="container">
            <h1 class="text-center mb-4">How would you rate us?</h1>
            <div class="row justify-content-center align-content-center">
                <div class="col-sm-12 col-lg-6">
                    {% if request.user.is_authenticated %}
                        <div class="card border-0 p-4">
                            <form class="form" action="{% url 'add_review' %}" method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    {{ review_form.review | as_crispy_field }}
                                    <legend>How happy were you with your box?</legend>
                                    {{ review_form.rating | as_crispy_field }}
                                    {{ review_form.posted_by }}
                                </fieldset>
                                <div class="text-center mt-2">
                                    <button class="btn" type="submit">Add review</button>
                                    <a href="{% url 'home' %}" class="btn">Cancel</a>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <p>You must <a href="{% url 'account_signup' %}">login</a> to leave a review!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}