{% extends "base.html" %}
{% load static %}

{% block extra_title %}Add Review | {% endblock %}

{% block content %}
    <section class="yellow-container p-4">
        <div class="container">
            <h1 class="text-center mb-4">Let us know how we did!</h1>
            <div class="row justify-content-center align-content-center">
                <div class="col-sm-12 col-lg-6">
                    {% if request.user.is_authenticated %}
                        <div class="card border-0 p-4">
                            <p>We want to hear all about your experience ordering your Wee Norn Iron Box with us!</p>
                            <form class="form" action="{% url 'add_review' %}" method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    {{ review_form.review | as_crispy_field }}
                                    <p class="text-center">How happy were you with your box?</p>
                                    {{ review_form.rating | as_crispy_field }}
                                    {{ review_form.posted_by }}
                                </fieldset>
                                <div class="text-center mt-2">
                                    <button class="btn m-2" type="submit">Add review</button>
                                    <a href="{% url 'home' %}" class="btn m-2">Cancel</a>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <p>You must <a href="{% url 'account_signup' %}">login</a> to leave a review!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}