{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Image & CTA Button -->
    <div class="img-container d-flex justify-content-center align-items-end">
        {% if request.user.is_authenticated %}
            <button class="btn cta py-2 px-4 mb-4 font-weight-bold">MY Box</button>
        {% else %}
            <button class="btn cta py-2 px-4 mb-4 font-weight-bold">Get Started</button>
        {% endif %}
    </div>

    <!-- How It Works-->
    <div class="container p-5 text-center">
        <!-- Description -->
        <div class="row">
            <div class="col">
                <h2>How it Works</h2>
                <p class="pt-2">
                    For £10 a month, we'll deliver your favourite Northern Irish goods to you!
                </p>
            </div>
        </div>
        <!-- Steps -->
        <div class="row step-boxes">
            <!-- Account -->
            <div class="col-md-12 col-lg-4">
                <div class="p-3">
                    <i class="fas fa-box-open pb-3"></i>
                    <p class="font-weight-bold">
                        Sign up for an account and simply add your favourite items to your box
                    </p>
                    <p>
                        This includes 
                        2 x Baked Goods, 2 x Drinks and 2 x Snacks
                    </p>
                </div>
            </div>
            <!-- Subscription -->
            <div class="col-md-12 col-lg-4">
                <div class="p-3">
                    <i class="fas fa-credit-card pb-3"></i>
                    <p class="font-weight-bold">
                        Activate your subscription and add your delivery details
                    </p>
                    <p>
                        You can cancel your subscription and update your box at any time
                    </p>
                </div>
            </div>
            <!-- Delivery -->
            <div class="col-md-12 col-lg-4">
                <div class="p-3">
                    <i class="fas fa-truck pb-3"></i>
                    <p class="font-weight-bold">
                        We'll quickly deliver your box to you every month at no extra cost
                    </p>
                    <p>
                        All baked goods are delivered fresh so no need to worry about expiry dates!
                    </p>
                </div>
            </div>
        </div>
        <!-- Subscribe Button -->
        {% if request.user.is_authenticated %}
            <button class="btn cta py-2 px-4 mt-4 font-weight-bold">My Box</button>
        {% else %}
            <button class="btn cta py-2 px-4 mt-4 font-weight-bold">Subscribe</button>
        {% endif %}
    </div>

    <!-- Testimonials -->
    <div class="testimonials-container p-5 text-center">
        <h3>Here's what our subscribers think</h2>
        <!-- Add Reviews -->
        {% if request.user.is_authenticated %}
            <button class="btn cta py-2 px-4 mt-4 font-weight-bold">Leave Review</button>
        {% endif %}
    </div>
{% endblock %}