{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="img-container">
        <div class="row">
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h2>How it Works</h2>
                <p>
                    For £10 a month, we'll deliver your favourite Northern Irish goods to your door!
                    All you have to do is:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="card">
                    <i class="fas fa-box-open"></i>
                    <p>
                        Sign up for an account and start adding your favourite items
                        to your box. You can add:
                        <br>
                        2x Baked Goods, 2x Drinks, 2x Snacks
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <i class="fas fa-credit-card"></i>
                    <p>
                        Activate your subscription and add your delivery details.
                        <br>
                        You can cancel your subscription and update your box at any time.
                    </p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card">
                    <i class="fas fa-truck"></i>
                    <p>
                        We'll quickly deliver your box to you every month as no extra cost.
                        <br>
                        All baked goods are delivered fresh so you don't have to worry about expiry dates!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}