{% extends "base.html" %}
{% load static %}

{% block extra_title %}Manage Reviews | {% endblock %}

{% block content %}
    <section class="yellow-container p-4 text-center">
        <div class="container">
            <h1>Manage User Reviews</h1>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-6">
                    {% if request.user.is_superuser %}
                        {% for review in reviews %}
                            <div class="card p-4 mt-4">
                                <p class="star-rating">{{ review.rating }}</p>
                                <p class="fw-bold mx-auto w-50">{{ review.review }}</p>
                                <p class="fst-italic mt-3">Posted By: {{ review.posted_by }}</p>
                                <a class="btn solid mx-auto" href="{% url 'delete_review' review.id %}">
                                    <i class="fas fa-trash p-1"></i>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="card p-4">
                            <p>Sorry, only the admin can manage reviews!</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <!-- Display Star Ratings in Reviews -->
    <script src="{% static 'home/js/star_ratings.js' %}"></script>
{% endblock %}