{% extends "base.html" %}
{% load static %}

{% comment %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %} {% endcomment %}

{% block page_heading %}
    <section class="white-container">
        <div class="container">
            <h1>'Bout ye {{ request.user }}</h1>
        </div>
    </section>
{% endblock %}

{% block content %}
<section class="yellow-container">
    <div class="row">
        <!-- Default Delivery Address -->
        <div class="col-lg-6 p-4">
            <p>Default Delivery Address:</p>
            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn">Update Address</button>
            </form>
        </div>
        <!-- Order History -->
        <div class="col-lg-6 bg-white">
            {% comment %} {% if order %} {% endcomment %}
                {% for order in orders %}
                <a href="{% url 'order_history' order.order_number %}"
                    title={{ order.order_number }}>{{ order.order_number|truncatechars:6 }}</a>
                <p>{{ order.date }}</p>
                <ul>
                    {% for item in order.boxitems.all %}
                    <li>{{ item.product }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            {% comment %} {% else %}
                <p>You haven't ordered anything yet!</p>
            {% endif %} {% endcomment %}
        </div>
    </div>
</section>
{% endblock %}