{% extends "base.html" %}
{% load static %}

{% comment %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %} {% endcomment %}

{% block page_heading %}
    <section class="white-container">
        <div class="container">
            <h1>'Bout ye {{ request.user }}</h1>
        </div>
    </section>
{% endblock %}

{% block content %}
<section class="yellow-container">
    <div class="row">
        <!-- Default Delivery Address -->
        <div class="col-lg-6 p-4">
            <p>Default Delivery Address:</p>
            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn">Update Address</button>
            </form>
        </div>
        <!-- Order History -->
        <div class="col-lg-6 bg-white">
            {% for order in orders %}
                <a href="{% url 'order_history' order.order_number %}"
                title={{ order.order_number }}>{{ order.order_number|truncatechars:6 }}</a>
                <p>{{ order.date }}</p>
                <ul>
                    {% for item in order.boxitems.all %}
                        <li>{{ item.product }}</li>
                    {% endfor %}
                </ul>
            {% empty %}
                <p>You haven't ordered anything</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h2>Blog Drafts</h2>
        {% for post in posts %}
            {% if post.posted_by == request.user %}
                <div class="card border-0 p-4 my-4">
                    <p class="fw-bold text-uppercase">{{ post.title }}</p>
                    <p class="text-muted">Posted By: {{ post.posted_by }} | Date Published: {{ post.date_posted }}
                    </p>
                    <p class="text-truncate">{{ post.post }}</p>
                    <a href="{% url 'post_detail' post.id %}" class="btn">Read More
                        <i class="fas fa-arrow-right ps-2"></i>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}