{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <section class="yellow-container">
        <div class="row">
            <div class="col">
                <h2>Your Wee Norn Iron Box has been Ordered!</h2>
                <p>Confirmation of your order has been sent to {{ order.email }}</p>
            </div>
            <div class="col">
                <p>Here's what you ordered:</p>
                <p>{{ order.order_number }}</p>
                {% for item in order.boxitems.all %}
                    <p>{{ item.product.name }}</p>
                {% endfor %}
                <p>{{ order.first_name }}</p>
            </div>
        </div>
    </section>
{% endblock %}