{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}Checkout | {% endblock %}

{% block content %}
    <section class="yellow-container text-center overflow-hidden">
        <div class="row">
            <!-- Box Contents -->
            <div class="col-lg-6">
                <div class="row g-4 p-4 justify-content-center">
                    <h2>Here's your Wee Norn Iron Box:</h2>
                    {% for item in box_items %}
                        <div class="col-md-6">
                            <div class="card h-100 p-4">
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" class="card-img-top img-fluid"
                                    alt="{{ item.product.name }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.name }}"
                                    class="card-img-top img-fluid">
                                {% endif %}
                                <p class="fw-bold mt-2">{{ item.product.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <a class="btn solid" href="{% url 'view_box' %}">Update Box</a>
                </div>
            </div>
            <!-- Checkout Form -->
            <div class="col-lg-6 bg-white">
                <div class="row p-4">
                    <div class="col">
                        <h2>Where should we send it?</h2>
                        <form class="pt-4" action="{% url 'checkout' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            <!-- Contact Details -->
                            <fieldset>
                                {{ order_form.full_name | as_crispy_field }}
                                {{ order_form.email | as_crispy_field }}
                                {{ order_form.contact_number | as_crispy_field }}
                                <br>
                                {{ order_form.address_line_1 | as_crispy_field }}
                                {{ order_form.address_line_2 | as_crispy_field }}
                                {{ order_form.town_or_city | as_crispy_field }}
                                {{ order_form.county | as_crispy_field }}
                                {{ order_form.postcode | as_crispy_field }}
                                {{ order_form.country | as_crispy_field }}
                                <div class="form-check float-end">
                                    <input class="form-check-input" type="checkbox" id="save-info">
                                    <label class="form-check-label small" for="save-info">
                                        Save Delivery Address
                                    </label>
                                </div>
                            </fieldset>
                            <!-- Stripe Card Element -->
                            <fieldset class="mt-4">
                                <h4 class="m-4">Payment Details:</h4>
                                <!-- Stripe Card Element -->
                                <div id="card-element"></div>
                                <p class="small text-muted mt-4">You will be charged £10 for your box including delivery.</p>
                                <!-- Pay Button & Errors -->
                                <div class="mt-4">
                                    <!-- Error Messages -->
                                    <span id="card-element-error"></span>
                                    <!-- Code from Bootstrap docs: https://getbootstrap.com/docs/5.0/components/spinners/-->
                                    <button id="submit-button" class="btn solid">
                                        <div class="spinner-border spinner-border-sm hidden" id="spinner"></div>
                                        <span id="button-text">Order My Box</span>
                                    </button>
                                </div>
                                <input type="hidden" value={{ client_secret }} name="client_secret">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}