/* Colour Palette from coolors.co */
:root {
    --white: #fff;
    --black: #161616;
    --yellow: #ffb700;
    --red: #e00000;
    --dark-red: #b80000;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

    background: var(--white);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
}

/* ---------- Font/Text ---------- */
h1,
h2,
h3,
h4,
h5,
.navbar-brand {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
}
/* ---------- End Font/Text ---------- */

/* ---------- Nav Bar ---------- */
.navbar {
    background: var(--white);
}

.navbar-brand {
    color: var(--black);
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: var(--black);
}

.navbar-brand img {
    max-height: 50px;
    max-width: 50px;
}

a.nav-link {
    color: var(--black);
}
/* ---------- End Nav Bar ---------- */

/* ---------- Containers ----------*/
.top-container {
    background: var(--black);
    color: var(--white);
    height: 40vh;
}

.middle-container {
    background: var(--yellow);
}

.bottom-container {
    background: var(--black);
    color: var(--white);
}

.home-img {
    background: url("/static/images/box-mock-up.jpg") no-repeat center center;
    background-size: cover;
}

.products-img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url("/static/images/ulster-fry.jpg") no-repeat center center;
    background-size: cover;
}
/* ---------- End Image Containers ----------*/

/* ---------- Buttons ---------- */
.btn {
    background: var(--red);
    box-shadow: 0 2px var(--dark-red);
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 200px;
}

.btn:hover {
    background: var(--dark-red);
    color: var(--white);
    transform: translateY(2px)
}
/* ---------- End Buttons ---------- */

/* ---------- Cards ---------- */
.card {
    background: var(--white);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
}

.card p {
    font-size: 0.9rem;
}
/* ---------- End Cards ---------- */

/* ---------- Step Cards ---------- */
.steps h2 {
    font-size: 2rem;
}

.steps i.fas {
    font-size: 2.4rem;
    color: var(--red);
}
/* ---------- End Step Cards ---------- */

/* ---------- Testimonials ---------- */
.testimonials-container h3 {
    font-size: 2rem;
}
/* ---------- End Testimonials ---------- */

/* ---------- Footer ---------- */
.fab {
    font-size: 2rem;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram-square {
    color: var(--black);
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram-square:hover {
    color: var(--yellow);
}

footer h5 {
    font-size: 1.2rem;
}
/* ---------- End Footer ---------- */

/* ---------- Products App ---------- */
.middle-container img {
    width: 100%;
    height: 20vh;
    object-fit: contain;
}

.top-container button#search-button {
    background: var(--red);
}

.top-container button#search-button:hover {
    transform: none;
}

.top-container button#search-button.form-control:focus {
    color: var(--white);
}

.top-container input.form-control {
    border: none;
    box-shadow: 0 2px var(--dark-red);
}

.top-container input.form-control:focus {
    border: 2px solid var(--red);
    box-shadow: 0 2px var(--dark-red);
}

.card-overlay {
    background: var(--white);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: var(--black);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease-out;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-overlay:hover {
    /* linear-gradient from MDN Docs: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient() */
    background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    opacity: 1;
    transition: .3s ease-in;
}

.contact-container {
    background: var(--black);
    color: var(--white);
}
/* ---------- End Products App ---------- */

/* ---------- Media Queries --------- */

/* For devices with a screen size bigger than 425px */
@media only screen and (min-width: 425px) {
    /* Product Edit and Delete Buttons */
    .edit,
    .delete {
        width: 110px;
    }
}

/* For devices with a screen size bigger than 1024px */
@media only screen and (min-width: 1024px) {
    p {
        font-size: 1rem;
    }
    
    /* Background Image */
    .home-img {
        height: 75vh;
    }

    /* Product Edit and Delete Buttons */
    .edit,
    .delete {
        width: 150px;
    }
}
/* ---------- End Media Queries --------- */