/* Colour Palette from coolors.co */
:root {
    --white: #fff;
    --black: #161616;
    --yellow: #ffa600;
    --red: #e00000;
    --dark-red: #b80000;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

    color: var(--black);
    font-family: 'Roboto', sans-serif;
}

/* ---------- Font/Text ---------- */
h1,
h2,
h3,
h4,
h5,
.navbar-brand {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
}
/* ---------- End Font/Text ---------- */

/* ---------- Nav Bar ---------- */
a.nav-link.active {
    color: var(--yellow);
}

.navbar {
    background: var(--black);
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-brand,
a.nav-link {
    color: var(--white);
}

a.nav-link:hover,
a.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--yellow);
}

.navbar-brand img {
    max-height: 50px;
    max-width: 50px;
}

.navbar-toggler i {
    color: var(--white);
    font-size: 1.6rem;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
/* ---------- End Nav Bar ---------- */

/* ---------- Toasts ---------- */
.toast-container {
    z-index: 999;
}

.toast-header,
.close-btn {
    background: var(--black);
    color: var(--white);
}

.box-preview {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.box-preview img {
    height: 20vh;
    object-fit: contain;
}

.close-btn {
    border: none;
}
/* ---------- End Toasts ---------- */

/* ---------- Containers ----------*/
.white-container {
    background: var(--white);
    color: var(--black);
}

.yellow-container {
    background: var(--yellow);
    color: var(--black);
    overflow-x: hidden;
}

.black-container {
    background: var(--black);
    color: var(--white);
}

.products-heading-img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url("/static/images/ulster-fry.jpg") no-repeat center center;
    background-size: cover;
    height: 40vh;
}
/* ---------- End Containers ----------*/

/* ---------- Buttons ---------- */
.btn {
    background: var(--red);
    box-shadow: 0 2px var(--dark-red);
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 250px;
}

.btn:hover {
    background: var(--dark-red);
    color: var(--white);
    transform: translateY(2px)
}
/* ---------- End Buttons ---------- */

/* ---------- Cards ---------- */
.yellow-container img {
    width: 100%;
    height: 20vh;
    object-fit: contain;
}

.card {
    background: var(--white);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
}

.card p {
    font-size: 0.9rem;
}

.checkout-preview img {
    height: 15vh;
}

.card-overlay {
    background: var(--white);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: var(--black);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease-out;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-overlay:hover {
    /* linear-gradient from MDN Docs: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient() */
    background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    opacity: 1;
    transition: .3s ease-in;
}
/* ---------- End Cards ---------- */

/* ---------- Step Cards ---------- */
.steps h2 {
    font-size: 2.2rem;
}

.steps i.fas {
    font-size: 2rem;
    color: var(--black);
}

.steps i.fas:hover {
    color: var(--dark-red);
}
/* ---------- End Step Cards ---------- */

/* ---------- Footer ---------- */
.fab {
    font-size: 2rem;
}

.fa-facebook-square,
.fa-twitter,
.fa-instagram {
    color: var(--white);
}

.fa-facebook-square:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: var(--yellow);
}

footer {
    background: var(--black);
}

footer h5 {
    color: var(--white);
    font-size: 1.2rem;
}
/* ---------- End Footer ---------- */

/* ---------- Products App ---------- */
.black-container button#search-button {
    background: var(--black);
    box-shadow: none;
}

.black-container button#search-button:hover {
    background: var(--red);
    box-shadow: none;
    transform: none;
}

.black-container button#search-button.form-control:focus {
    color: var(--white);
}

.black-container input.form-control {
    border: 2px solid var(--black);
    box-shadow: none;
}

.black-container input.form-control:focus {
    border: 2px solid var(--red);
    box-shadow: none;
}

.yellow-container .nav-link {
    color: var(--black);
}

.yellow-container .nav-link:hover {
    color: var(--white);
}
/* ---------- End Products App ---------- */

/* ---------- Media Queries --------- */

/* For devices with a screen size bigger than 425px */
@media only screen and (min-width: 425px) {
    /* Product Edit and Delete Buttons */
    .edit,
    .delete {
        width: 110px;
    }
}

/* For devices with a screen size bigger than 1024px */
@media only screen and (min-width: 1024px) {
    p {
        font-size: 1rem;
    }
    
    /* Product Edit and Delete Buttons */
    .edit,
    .delete {
        width: 150px;
    }
}
/* ---------- End Media Queries --------- */