/* Colour Palette from coolors.co */
:root {
    --white: #f8f8f8;
    --black: #161616;
    --yellow: #ffb700;
    --red: #e00000;
    --dark-red: #a30000;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

    background: var(--white);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
}

/* ---------- Headings/Text ---------- */
h1,
h2,
h3,
h4,
h5,
.navbar-brand {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.heading {
    display: none;
}

p {
    font-size: 1rem;
}
/* ---------- End Headings/Text ---------- */

/* ---------- Nav Bar ---------- */
.navbar {
    background: var(--white);
    font-weight: 700;
}

.navbar-brand {
    color: var(--black);
    font-size: 1.5rem;
}

.navbar-brand img {
    max-height: 50px;
    max-width: 50px;
}

a.nav-link {
    color: var(--black);
    font-weight: 700;
}

i.fas {
    font-size: 1.8rem;
}
/* ---------- End Nav Bar ---------- */

/* ---------- Background Images ----------*/
.img-container {
    height: 50vh;
    width: auto;
    background: url('/media/box-mock-up.jpg') no-repeat center center;
    background-size: cover;
}
/* ---------- End Background Images ----------*/

/* ---------- CTA Button ---------- */
.cta {
    background: var(--red);
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.cta:hover {
    background: var(--dark-red);
    color: var(--white);
}
/* ---------- End CTA Button ---------- */

/* ---------- Step Boxes ---------- */
.step-boxes h2 {
    font-size: 2rem;
}

.step-boxes i.fas {
    font-size: 2.2rem;
}

.account-icon {
    color: var(--dark-red);
}

.subscription-icon {
    color: var(--red);
}

.delivery-icon {
    color: var(--yellow);
}
/* ---------- End Step Boxes ---------- */

/* ---------- Testimonials ---------- */
.testimonials-container {
    background: var(--black);
}

.testimonials-container h3 {
    color: var(--white);
    font-size: 2rem;
}
/* ---------- End Testimonials ---------- */

/* ---------- Footer ---------- */
.fab {
    font-size: 2rem;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram-square {
    color: var(--black);
}

.fa-facebook-square:hover {
    color: var(--dark-red);
}

.fa-twitter-square:hover {
    color: var(--red);
}

.fa-instagram-square:hover {
    color: var(--yellow);
}

footer h5 {
    font-size: 1.2rem;
}
/* ---------- End Footer ---------- */

/* ---------- Media Queries --------- */

/* For devices with a screen size bigger than 425px */
@media only screen and (min-width: 425px) {
    .heading {
        display: inline-block;
    }
}

/* For devices with a screen size bigger than 1440px */
@media only screen and (min-width: 1440px) {
    /* Background Image */
    .img-container {
        height: 90vh;
    }
    
    /* CTA Button */
    .cta {
        font-size: 1.2rem;
    }
}
/* ---------- End Media Queries --------- */