/* ---------- Products App ---------- */
.yellow-container button#search-button {
    background: var(--black);
    box-shadow: none;
    color: var(--white);
    width: 20%;
}

.yellow-container input,
.yellow-container textarea,
.yellow-container select {
    border-radius: 0;
    border: 2px solid var(--black);
}

.yellow-container button#search-button:hover {
    background: var(--red);
    box-shadow: none;
    transform: none;
}

.yellow-container button#search-button.form-control:focus {
    color: var(--white);
}

.yellow-container input:focus,
.yellow-container textarea:focus,
.yellow-container select:focus {
    border: 2px solid var(--red);
    box-shadow: none;
}

.white-container .nav-tabs {
    border-bottom: 0;
}

.white-container .nav-link {
    color: var(--black);
    border: 0;
    border-radius: 0;
    padding: 8px 10px;
}

.white-container .nav-link.active,
.white-container .nav-link:hover {
    background: var(--yellow);
    color: var(--black);
}

/* ---------- End Products App ---------- */

/* ---------- Edit Product ---------- */

/* ---------- End Edit Product ---------- */

/* ---------- Product Form Widget ---------- */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
/* ---------- End Product Form Widget ---------- */