/* ---------- Products App ---------- */
.white-container .nav-tabs {
    border-bottom: 0;
}

.white-container .nav-link {
    color: var(--black);
    border: 0;
    border-radius: 0;
    padding: 8px 10px;
}

.white-container .nav-link.active,
.white-container .nav-link:hover {
    background: var(--yellow);
    color: var(--black);
}

/* ---------- End Products App ---------- */

/* ---------- Product Form Widget ---------- */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
/* ---------- End Product Form Widget ---------- */