/* ---------- Products App ---------- */
.white-container button#search-button {
    background: var(--black);
    box-shadow: none;
}

.white-container button#search-button:hover {
    background: var(--dark-red);
    box-shadow: none;
    transform: none;
}

.white-container button#search-button.form-control:focus {
    color: var(--white);
}

.white-container input.form-control {
    border: 2px solid var(--black);
    box-shadow: none;
}

.white-container input.form-control:focus {
    border: 2px solid var(--dark-red);
    box-shadow: none;
}

.yellow-container .nav-link {
    color: var(--black);
}

.yellow-container .nav-link:hover {
    color: var(--white);
}

/* ---------- End Products App ---------- */