{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="yellow-container h-100 p-4">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center">The Wee Norn Iron Blog</h1>
                <div class="col-lg-6">
                    {% for post in posts %}
                        <div class="card p-4 my-4">
                            <p class="fw-bold text-uppercase">{{ post.title }}</p>
                            <p class="text-muted">Posted By: {{ post.posted_by }} | Date Published: {{ post.date_posted }}
                            </p>
                            <p class="text-truncate">{{ post.post }}</p>
                            <a href="{% url 'post_detail' post.id %}" class="btn">Read More<i class="fas fa-arrow-right ps-2"></i></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="position-relative">
            <a href="{% url 'add_post' %}" class="btn solid position-fixed bottom-0 end-0 m-4 w-auto">
                <i class="fas fa-plus"></i>
                <p class="d-none d-md-inline ps-2">Add New Post</p>
            </a>
        </div>
        {% endif %}
    </section>
{% endblock %}