{% extends "base.html" %}
{% load static %}

{% block extra_title %}The Wee Blog | {% endblock %}

{% block content %}
    <section class="yellow-container h-100 p-4">
        <div class="container">
            <h1 class="text-center">The Wee Norn Iron Blog</h1>
            <!-- Blog Posts -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    {% for post in posts %}
                        <div class="card p-4 my-4">
                            <p class="fw-bold text-uppercase">{{ post.title }}</p>
                            <p class="text-muted">Posted By: {{ post.posted_by }} | Date Published: {{ post.date_posted }}
                            </p>
                            <p>{{ post.post|truncatechars:100 }}</p>
                            <a href="{% url 'post_detail' post.id %}" class="btn solid">
                                Read More
                                <i class="fas fa-arrow-right ps-2"></i>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Add New Post Button -->
        {% if user.is_authenticated %}
            <div class="position-relative">
                <a href="{% url 'add_post' %}" class="btn solid position-fixed bottom-0 end-0 m-4 w-auto">
                    <i class="fas fa-plus"></i>
                    <p class="d-none d-md-inline ps-2">Add New Post</p>
                </a>
            </div>
        {% endif %}
    </section>
{% endblock %}