{% extends "base.html" %}
{% load static %}

{% block extra_title %}Post | {% endblock %}

{% block content %}
<section class="yellow-container p-4">
    <!-- Full Blog Post -->
    <div class="row justify-content-center">
        <h1 class="text-center">The Wee Norn Iron Blog</h1>
        <div class="col-lg-6">
            <div class="card p-4 my-4">
                <p class="fw-bold text-uppercase">{{ post.title }}</p>
                <p class="text-muted">Posted By: {{ post.posted_by }} | Date Published: {{ post.date_posted }}
                </p>
                <p>{{ post.post }}</p>
                {% if post.posted_by == request.user %}
                    <div class="text-center">
                        <a href="{% url 'edit_post' post.id %}" class="btn solid m-2">Edit</a>
                        <a href="{% url 'delete_post' post.id %}" class="btn m-2">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Post Comments -->
    <div class="row justify-content-center">
        <h3 class="text-center mt-4">Comments:</h3>
        <div class="col-lg-6">
            {% if request.user.is_authenticated %}
            <!-- Display Comments -->
            {% for comment in comments %}
                <div class="card p-4 mb-4">
                    {{ comment.comment }}
                    <p class="text-muted">Posted By: {{ comment.posted_by }} | {{ comment.date_commented }}</p>
                </div>
            {% endfor %}
            <!-- Add Comment Form -->
                <div class="card p-4">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-2">
                            <button class="btn solid m-2" type="submit">Add Comment</button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="card p-4 mt-4 text-center">
                    <p class="m-auto">
                        You must
                        <a href="{% url 'account_login' %}" class="link fw-bold">login</a>
                        to leave a comment
                    </p>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Back to Blog Posts Button -->
    <div class="position-relative">
        <a href="{% url 'blog_posts' %}" class="btn solid position-fixed bottom-0 end-0 m-4 w-auto">
            <i class="fas fa-arrow-left"></i>
            <p class="d-none d-md-inline ps-2">Back to Posts</p>
        </a>
    </div>
</section>
{% endblock %}