#card-element {
    border: 2px solid var(--black);
    padding: .5rem;
    border-radius: 9;
}

#card-element:focus {
    border: 2px solid var(--red);
}

.hidden {
    display: none;
}

.form-select:invalid {
    color: #8b8b8b;
}