{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}Edit Product | {% endblock %}

{% block content %}
    <section class="yellow-container p-4">
        <div class="container">
            <h1 class="text-center mb-4">Edit Product</h1>
            <div class="row justify-content-center align-content-center">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <div class="card p-4">
                        <form class="form" action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name != 'image' %}
                                    {{ field | as_crispy_field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <div class="text-center">
                                <button class="btn solid m-2" type"submit">Update</button>
                                <a href="{% url 'products' %}" class="btn m-2">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}