{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="yellow-container p-4">
    <div class="container">
        <h1 class="text-center mb-4">Edit Product</h1>
        <div class="row justify-content-center align-content-center">
            <div class="col-sm-12 col-lg-6">
                <div class="card border-0 p-4">
                    <form class="form" action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div>
                            <button class="btn" type"submit">Update</button>
                            <a href="{% url 'products' %}" class="btn">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}