{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="products-heading">
        <div class="container p-4 text-center">
            <h1>Our Wee Products</h1>
            <p class="mt-4">
                All your favourite Northern Irish treats can be found here.
                <br> 
                From soda bread, to Tayto crisps and even Maine lemonade!
            </p>

            <div class="d-flex flex-column align-items-center mt-4">
                <!-- Products Filter -->
                <!-- Nav from Bootstrap Docs: https://getbootstrap.com/docs/5.0/components/navs-tabs/#pills-->
                <ul class="nav fw-bold mt-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">All Products<span class="ps-4">|</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=Breads">Breads<span class="ps-4">|</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=Drinks">Drinks<span
                                class="ps-4">|</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=Snacks">Snacks</a>
                    </li>
                </ul>
                <!-- Search Bar -->
                <form class="form mt-4" method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input class="form-control text-center" type="text" name="q" placeholder="Find a Product"
                            aria-label="Search Button" aria-describedby="search-button">
                        <button class="btn form-control" type="submit" id="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Products -->
    <div class="products-container">
        <div class="container p-4">
            <div class="row g-4">
                {% for product in products %}
                <div class="col-md-6 col-lg-4">
                    <!-- Product Cards -->
                    <div class="card border-0 h-100 text-center p-4">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                    <!-- Product Name -->
                    <div class="card-body">
                        <p class="card-text fw-bold">
                            {{ product.name }}
                        </p>
                    </div>
                        <!-- Product Description -->
                    <div class="card-overlay rounded p-4">
                        <p class="card-text fw-bold">
                            {{ product.name }}
                        </p>
                        <p class="card-text">
                            {{ product.description }}
                        </p>
                        <p class="card-text">
                            Size: {{ product.size }}
                        </p>
                        {% if request.user.is_superuser %}
                            <div>
                                <a class="btn edit m-1" href="#">
                                    <i class="fas fa-pen p-2"></i>
                                    <span class="d-none d-md-inline-block">Edit</span>
                                </a>
                                <a class="btn delete m-1" href="#">
                                    <i class="fas fa-trash p-2"></i>
                                    <span class="d-none d-md-inline-block">Delete</span>
                                </a>
                            </div>
                        {% else %}
                            <!-- Add to Box -->
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}