{% extends "base.html" %}
{% load static %}

{% block page_heading %}
    <!-- Image, Heading and Search Bar -->
    <section class="black-container products-heading-img d-flex flex-column align-items-center justify-content-center">
        <div class="container text-center p-4">
            {% if current_categories == None %}
                <h1>Our Wee Products</h1>
                <p class="text-center">
                    All your favourite Northern Irish treats can be found here.
                    <br>
                    From soda bread, to Tayto crisps and even Maine lemonade!
                </p>
            {% else %}
                {% for c in current_categories %}
                    <h1>Our Wee {{ c.name }}</h1>
                    {% if c.name == "Breads" %}
                        <p>Choose two of your favouruite breads.</p>
                    {% elif c.name == "Drinks" %}
                        <p>Choose two of your favourite drinks.</p>
                    {% elif c.name == "Snacks" %}
                        <p>Choose two of your favourite snacks.</p>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- Search Bar -->
            <form class="form w-50 mx-auto mt-4" method="GET" action="{% url 'products' %}">
                <div class="input-group">
                    <input class="form-control text-center w-75" type="text" name="q" placeholder="Find a Product"
                        aria-label="Search Button" aria-describedby="search-button">
                    <button class="btn form-control" type="submit" id="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block content %}
    <!-- Products -->
    <section class="yellow-container">
        <div class="container p-4">
            <!-- Product Categories -->
            <div class="row align-items-center mb-2">
                <!-- Nav from Bootstrap Docs: https://getbootstrap.com/docs/5.0/components/navs-tabs -->
                <div class="col-12 mb-2">
                    <ul class="nav fw-bold justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}">All Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?category=Breads">Breads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?category=Drinks">Drinks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?category=Snacks">Snacks</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Products Details -->
            <div class="row justify-content-center g-4">
                {% for product in products %}
                <div class="col-md-6 col-lg-4">
                    <!-- Product Cards -->
                    <div class="card border-0 h-100 text-center p-4">
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                        <p class="card-text fw-bold mt-2">
                            {{ product.name }}
                        </p>

                        <!-- Product Description -->
                        <div class="card-overlay rounded p-4">
                            <p class="card-text fw-bold">
                                {{ product.name }}
                            </p>
                            <p class="card-text overflow-auto">
                                {{ product.description }}
                            </p>
                            <p class="card-text">
                                Size: {{ product.size }}
                            </p>

                            <!-- Buttons -->
                            {% if request.user.is_superuser %}
                                <div>
                                    <a class="btn edit m-1" href="#">
                                        <i class="fas fa-pen p-2"></i>
                                        <span class="d-none d-md-inline-block">Edit</span>
                                    </a>
                                    <a class="btn delete m-1" href="#">
                                        <i class="fas fa-trash p-2"></i>
                                        <span class="d-none d-md-inline-block">Delete</span>
                                    </a>
                                </div>
                            {% elif request.user.is_authenticated %}
                                <form class="form" action="{% url 'add_to_box' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn"><i class="fas fa-box-open pe-2"></i>Add to
                                                Box</button>
                                        </div>
                                        <!-- Code from Django Docs: https://docs.djangoproject.com/en/3.2/ref/request-response/#django.http.HttpRequest.get_full_path-->
                                        <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                    </div>
                                </form>
                            {% else %}
                                <a class="btn py-2 px-4" href="{% url 'account_signup' %}">Sign Up</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Contact Us -->
    <section class="white-container">
        <div class="container text-center p-4">
        {% if request.user.is_superuser %}
            <a href="#" class="btn">Add Product</a>
            <a href="#" class="btn">Product Admin</a>
        {% else %}
            <h3>Can't find your favourite food or drink?</h3>
            <p class="mt-4">Let us know by emailing us or by sending us a message on one of our social media pages!</p>
        {% endif %}
        </div>
    </section>
{% endblock %}