<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <!-- Header -->
    <div class="toast-header">
        <i class="fas fa-check-square me-2"></i>
        <strong class="me-auto">Success</strong>
        <button type="button" class="close-btn" data-bs-dismiss="toast" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <!-- Body -->
    <div class="toast-body bg-white text-center rounded-1">
        <div class="row">
            <div class="col">
                <p>{{ message }}</p>
                <p class="fw-bold">You currently have {{ box_items|length }} item(s) in your box.</p>
            </div>
        </div>
        <!-- Box Contents Summary -->
        {% if box_items and not on_profile_page %}
            <!-- Display box preview on products page -->
            <!-- Code from Stack Overflow: https://stackoverflow.com/questions/17829718/url-name-in-django-template-if-statement-->
            {% url 'products' as products %}
            {% if request.path == products %}
                <div class="box-preview">
                    {% for item in box_items %}
                        <div class="row">
                            <div class="col">
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" class="card-img-top img-fluid"
                                    alt="{{ product.name }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.name }}"
                                    class="card-img-top img-fluid">
                                {% endif %}
                                <p class="fw-bold">{{ item.product.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- View My Box Button -->
                <div class="row">
                    <div class="col">
                        <a class="btn solid mb-2" href="{% url 'view_box' %}">View My Box</a>
                    </div>
                </div>
            {% else %}
                <!-- Dont't display box preview on box page when products are removed -->
                <div class="row">
                    <div class="col">
                        <a class="btn solid mb-2" href="{% url 'products' %}">Add Products</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>