<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <!-- Header -->
    <div class="toast-header">
        <i class="fas fa-check-square me-2"></i>
        <strong class="me-auto">Success</strong>
        <button type="button" class="close-btn" data-bs-dismiss="toast" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <!-- Body -->
    <div class="toast-body bg-white text-center">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>
        <hr>
        <!-- Box Contents Summary -->
        {% if box_items %}
        <!-- Display box preview on products page -->
        <!-- Code from Stack Overflow: https://stackoverflow.com/questions/17829718/url-name-in-django-template-if-statement-->
        {% url 'products' as products %}
        {% if request.path == products %}
        <div class="box-preview">
            {% for item in box_items %}
            <div class="row">
                <div class="col">
                    <img class="w-50 pb-1" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    <p class="fw-bold">{{ item.product.name }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Products and box buttons -->
        <div class="row">
            <div class="col">
                <a class="btn mb-2" href="{% url 'view_box' %}">My Box</a>
            </div>
        </div>
        {% else %}
        <!-- Dont't display box preview on box page -->
        <div class="row">
            <div class="col">
                <a class="btn mb-2" href="{% url 'products' %}">Add Products</a>
            </div>
        </div>
        {% endif %}
        <!-- No items in box -->
        {% elif product_count == 0 %}
        <p>Your box is empty!</p>
        {% endif %}
    </div>
</div>