<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
        <i class="fas fa-exclamation-circle me-2"></i>
        <strong class="me-auto">Error</strong>
        <button type="button" class="close-btn" data-bs-dismiss="toast" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="toast-body bg-white text-center">
        <p>{{ message }}</p>
        {% if box_items|length == 6 %}
            <p class="fw-bold">You've reached the limit of 6 items in your box.</p>
        {% endif %}
        <a href="{% url 'view_box' %}" class="btn solid">View My Box</a>
    </div>
</div>